---
import Technologies from "../../common/technologies/index.astro";
import { Carousel } from "../../common/carousel";
import Slider from "../../common/slider/index.astro";
import classNames from "classnames";

interface Props {
  color: `bg-${string}`;
}

const { color } = Astro.props;

const images = [
  { imgSrc: "academy/png/1.png", maskSrc: "academy/mask/1.avif" },
  { imgSrc: "academy/png/4.png", maskSrc: "academy/mask/4.avif" },
  { imgSrc: "academy/png/2.png", maskSrc: "academy/mask/2.avif" },
  { imgSrc: "academy/png/3.png", maskSrc: "academy/mask/3.avif" },
];
---

<article id="box-project-experience" class="relative space-y-12 z-0 pt-[200px]">
  <header class="container">
    <h3 class="text-current">Crowdar Academy</h3>
    <p>
      Recreé por completo el nuevo sitio de <a
        class="font-medium"
        target="_blank"
        href="https://crowdar.academy/">Crowdar Academy.</a
      >
    </p>
    <p>
      Para este proyecto se me pidió recrear el antiguo sitio web con alguna
      tecnología moderna y conveniente para el tipo de proyecto.
    </p>
    <p>
      El diseño del sitio fue dato en figma. Al momento de iniciar solo se
      proporcionó el formato desktop, progresivamente fui incorporando el diseño
      responsive.
    </p>
  </header>
  <div class="container">
    <Carousel
      color={color}
      className="hidden md:block"
      slices={images}
      client:visible
    />
  </div>
  <Slider className="block md:hidden" slices={images} />
  <footer class="container mr-auto space-y-12">
    <section>
      <p>Entre algunas de las caracterisiticas se encuentran:</p>
      <ul
        class={classNames(
          "space-y-1 mt-2 [&>li]:marker",
          `[&>li]:before:${color}`
        )}
      >
        <li>Manejo de rutas.</li>
        <li>Responsive web design (mobile first).</li>
        <li>Static Site Generation.</li>
      </ul>
    </section>
    <section>
      <h4 class="text-current">Tecnologías</h4>
      <Technologies theme="dark" technologies={["NextJS", "SASS"]} />
    </section>
  </footer>
</article>
